@import "transition-style";

/* Global styles */
:root {
    /* people card values */
    --surface-color: #d5ede6;
    --curve: 40;

    /* ocean colors */
    --v1: #be91c6;
    --v2: #8a65cc;
    --v3: #5e30d9;
    --transparentv3: #5e30d900;
    --v4: #3b1895;
    --s1: #fea798;
    --s2: #ff846e;
    --cloud: #fea798;

    /* campfire colors */
    --clr1: #b54040;
    --clr2: #cd6d3d;
    --clr3: #e6993a;
    --clr4: #fec637;
    --clr5: #0d1d2d;
    --clr6: #0f2642;
    --clr7: #2b2a42;
    --clr8: #623341;
    --clr9: #733641;
    --clr10: #833841;
    --clr11: #943b40;
    --clr12: #a43d40;
    --clr13: #b54040;
    --clr14: #fff;
  }

/* Smoooth scrolling for sidebar */
html,
body {
  padding: 0;
  margin: 0;
  font-family: barlow-extralight,barlow,sans-serif;
  scroll-behavior: smooth;
}

/* bordering */
* {
  box-sizing: border-box;
}

/* Back home button */
.home:link, .home:visited {
  display:inline-block;
  padding:0.35em 1.2em; 
  border:0.1em solid #FFFFFF;
  margin:1em 0.3em 0.3em 1em;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  font-weight:500;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  z-index: 1000;
}

.home:hover, .home:active {
  color:#000000;
  background-color:#FFFFFF;
}

@media all and (max-width:30em){
  .home:link{
  display:block;
  margin:0.4em auto;
  }
}

/* landing page css */
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageContainer {
  display: flex;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.introSummary {
  max-width: 40%;
  margin: auto;
  text-align: center;
  line-height: 3;
  font-size: 1.5rem;
}

/* General Cards */
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 8px 5px 0 rgba(0, 0, 0, 0.2);
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #5bd3c7;
}

.cardWithIcon {
  display: flex;
  flex-direction: row;
}

.cardIcon {
  flex-shrink: 0;
  width: 70px;
  height: 70px;      
  border-radius: 50%;
  margin-right: 5%;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Card animation */
@media (prefers-reduced-motion: no-preference) {
  .item-animation {
    animation: wipe-enter 1s 1;
  }
}

@keyframes wipe-enter {
  0% {
    transform: scale(0, .025);
  }
  50% {
    transform: scale(1, .025);
  }
}

/* People Cards */
.peopleCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.peopleCard {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.peopleCardImage {      
  width: 100%;
  height: auto;
}

.peopleCardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background: linear-gradient(to bottom, rgba(0,0,0, 0) 35%,var(--surface-color) 35%,var(--surface-color) 100%);    
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.peopleCard .peopleCardOverlay {
  transform: translateY(0);
}

.peopleCardHeader {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(30%);
  transition: .2s ease-in-out;
}

.peopleCardArc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.peopleCardArc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.peopleCard:hover .peopleCardHeader {
  transform: translateY(-50%);
}

.peopleCardIcon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.peopleCardTitle {
  font-size: 2em;
  margin: 0 0 .3em;
  color: #000;
}

.peopleCardStatus {
  font-family: "barlow";  
  font-size: .8em;
  color: #6A515E;
}

.peopleCardDescription {
  padding: 0 2em 2em;
  margin: 0;
  color: #6A515E;
  font-family: "barlow";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* Sections */
#introduction {
  background-color: #ffffff;
}

#projects {
  background-color: #5bd3c7;
  box-shadow: 0 0 25px 10px rgba(91, 211, 199, 0.5);
  z-index: 1;
}

#people {
  background-color: #ffffff;
}

#interests {
  background-color: #e0e4ee;
  box-shadow: 0 0 25px 10px rgba(224, 228, 238, 0.5);
  z-index: 1;
}

/* Applied to all sections */
.section {
  padding: 5rem 0;
  height: 100vh;
  width: 85vw;
}

/* Section animation */
@keyframes polygon-in-opposing-corners {
  from {
    clip-path: polygon(0 0, 50% 50%, 100% 100%, 50% 50%);
  }
  to {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}

[transition-style="in:polygon:opposing-corners"] {
  animation: 1.5s cubic-bezier(.25, 1, .30, 1) polygon-in-opposing-corners both;
}

/* The sidebar menu */
.sidebar {
  height: 100vh; /* 100% Full-height */
  min-width: 15vw; /* 0 width */
  position: sticky; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0px;
  left: 0px;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10vmin; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  border-radius: 0 10px 7px 0;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.5)
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: barlow-extralight,barlow,sans-serif;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar a:after{
  content: '';
  position: absolute;
  width: 95%;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  left: -100%;
  transition-delay: all 0.5s;
  transition: all 0.5s;
}
.sidebar a:hover:after,
.sidebar a.hover:after{
  left: 100%;
}

.sideText {
  padding: 8px 8px 8px 32px;
  display: flex;
}

.sideIcon {
  padding-right: 8px;
  position: relative;
}

.sideIconFormat {
  position: absolute;
  bottom: 3px;
  left: -24px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}